$azul-oscuro: #2B3741;
$azul: #004B6A;
$azul-claro: #2E8AEC;
$gris: #201E1C;

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Roboto", sans-serif;
	font-size: 18px;
}

.lateral{
	background-color: $azul-oscuro;
  height: 100vh;
  #menu{

    #left{
      display: flex;
      flex-direction: column;
      .img-logo{
        margin-top: 10px;
        align-self: center;
      }
      ul{
        list-style: none;

        li{
          padding: 10px 0px 0px 0px;
          margin-left: 10px;
          a{
            font-family: "Roboto condensed", sans-serif;
            color: $azul-claro;
          }
          :hover{
            font-size: 1.1em;
            background-color: $azul;
          }
        }
      }
    }
  }
}

#foot-er{
  background: $gris;
  color: white;
  padding-top: 30px;
}
