$azul-oscuro: #2B3741;
$azul: #004B6A;
$azul-claro: #2E8AEC;
$gris: #201E1C;
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Roboto", sans-serif;
	font-size: 18px;
}

.lateral{
	background-color: $azul-oscuro;
	padding: 20px;
  height: 100vh;
  #menu{

    #left{

      ul{
        list-style: none;
        padding: 20px 0px 20px 0px;
        li{
          padding: 10px 0px 10px 0px;
          margin-left: 80px;
          a{
            font-family: "Roboto condensed", sans-serif;
            font-size: 1.5em;
            color: $azul-claro;
            :hover{
              font-size: 2em;
              background-color: $azul;
            }
          }
        }
      }
    }
  }
}

#foot-er{
  background: $gris;
  color: white;
  padding-top: 30px;
}
